<?xml version="1.0" encoding="ISO-8859-1"?>
<Config>
  <Category  name="Mapping">
    <Setting name="SourceSep" value="/"/>
    <Setting name="TargetSep" value="-"/>
    <Setting name="Key" value="1,3,4"/>
    <Setting name="Expression" value="PART(PART(NAME OF PIPE,3,'/'),2,'-') + '-' + PART(PART(NAME OF PIPE,3,'/'),1,'-') +  '-' + PART(PART(NAME OF PIPE,3,'/'),3,'-')"/>
    <Setting name="SitePurp" value="PI"/>
    <Setting name="SiteName" value="*PI*"/>
  </Category>
</Config>
